<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.ledtube">

    <!--this is needed to use android.media.audiofx.Visualizer-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--this is needed to connect the visualizer to audio session 0 (output mix) -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- this is required for the LightShow and Discovery services to run in the background -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- this, we need to communicate with the LED tubes over the network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to operate with PowerLocks -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LohLed"
        tools:targetApi="31">

        <service android:name="ch.ledtube.LedService"/>

        <activity
            android:name="ch.ledtube.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LohLed.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>